<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Graph demo</title>
    <meta name="description" content="Router killa">
  </head>
  <body>
    
    <ul>
      {% for m in messages %}
        {{ m[0] }}: {{ m[1] }}
      {% endfor %}
    </ul>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  </body>
</html> 